<h1><%= "#{@surgery.title}'s Page" %></h1>
<h3>Day of Opp: <%= "#{@surgery.day_of_opp}" %></h3>
<h3>Room Number: <%= "#{@surgery.operating_room_number}" %></h3>

<h3>Number of Doctors Performing Surgery: <%=  @surgery.count_of_drs%></h3>
<h3>Other surgeries happening this day of the week: <% Surgery.where(day_of_opp: @surgery.day_of_opp).pluck(:title).each do |title| %></h3>
<li><%= title %></li> 
  <% end %>

