<h2>Doctor Info</h2>

<h3>Name: <%= @doctor.name %></h3>
<p>Specialty: <%= @doctor.specialty %></p>
<p>Education: <%= @doctor.university %></p>
<p>Hospital: <%= @doctor.hospital.name %></p>
<p>Patients: </p>
<% @doctor.patients.each do |patient| %>
  <p><%= patient.name %></p>
<% end %>
