<div class="doctorShowContainer">
  <h1><%= @doctor.name %></h1>
  <h3><%= @doctor.hospital.name  %></h3>
  <p><%= @doctor.specialty %></p>
  <p><%= @doctor.university %></p>
  <% @doctor.patients.each do |patient| %>
    <section id="patient-<%= patient.id %>">
      <p><%= patient.name %></p>
      <%= link_to 'Remove Patient', "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %>
    </section>
  <% end %>
</div>