<h1> <%= @doctor.name %> </h1>

<p>Specialty: <%= @doctor.specialty %> </p>
<p>Education: <%= @doctor.university %> </p>
<p>Hospital: <%= @doctor.hospital.name %> </p>
<p>Patients:
<% @doctor.patients_sorted.each do |patient| %>
  <li> <%= patient.name %>
    <%= button_to "Remove Patient", "/doctor/:id/patients/remove_patient" %>
  </li>
<% end %>
</p>
