<%= @doctor.name %>
<%= @doctor.specialty %>
<%= @doctor.university %>
<%= @doctor.hospital.name %>
<% @doctor.patients.each do |patient| %>
  <section id= 'pt-<%=patient.id%>'>
    <%= patient.name %>
    <%= button_to "Remove Patient", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %>
  </section>
<% end %>
