<h1>Name: <%=@doctor.name%></h1><br>
<p>Specialty: <%=@doctor.specialty%></p><br>
<p>University: <%=@doctor.university%></p><br>
<p>Hospital: <%=@doctor.hospital.name%></p><br><br><br>
<p>Current Patients:
  <%@doctor.patients.each do |patient|%>
    <section id="patient-<%= patient.id %>">
      Name: <%=patient.name%><br>
      <%= button_to "Remove Patient", doctor_patient_path(patient.find_patient_doctor(@doctor).id), method: :delete %>
    </section>
  <%end%>
</p>
