<h1><%= @doctor.name %></h1>
<p>Specialty: <%= @doctor.specialty %></p>
<p>University: <%= @doctor.university %></p>
<p>Hospitla: <%= @doctor.hospital.name %></p>
<h2>Patients</h2>
<% @doctor.patients.each do |patient| %>
  <p><%= patient.name %></p>
<% end %>
