<h1><%= @doctor.name %>'s Show Page:</h1>

<h3>They work for: <%= @doctor.hospital.name %></h3>

<h4>Specialty: <%= @doctor.specialty %></h4>
<h4>Education: <%= @doctor.university %></h4>

<h4>Current Patients:</h4>
<% @doctor.patients.each do |patient| %>
  <section id='patient-<%= patient.id %>'>
    <h5><%= patient.name %></h5>
    <%= link_to "Remove", "/doctor_patient/#{@doctor.id}/#{patient.id}", method: :delete %>
  </section>
<% end %>
