<%= @doctor.name %>
<%= @doctor.specialty %>
<%= @doctor.university %>
<%= @doctor.hospital.name %>

<% @doctor.patients.each do |patient| %>
<section id="patients-<%= patient.id %>">
  <%= patient.name %>
  <section id="patient_delete-<%= patient.id %>">
    <%= button_to "Remove Patient", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %>
  </section>
<% end %>
</section>
