<h1>Doctor Show Page</h1>

<%= @doctor.name %>
<%= @doctor.specialty %>
<%= @doctor.university %>
<%= @doctor.hospital.name %>
<% @doctor.patients.each do |patient| %>
  <%= patient.name %>
  <p><%=link_to "Remove #{patient.name}", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %></p>
<% end %>
