<h2><%= @doctor.name %></h2>
<p>Specialty: <%= @doctor.specialty %></p>
<p>Degree: <%= @doctor.university %></p>
<p>Hospital: <%= @doctor.hospital.name %></p>
<h4>Patients:</h4>
<% @doctor.patients.each do |patient| %>
  <section id = "patient-<%= patient.id %>">
    <%= patient.name %>
    <%= button_to "Delete", "/doctors/#{@doctor.id}/#{patient.id}", method: :delete %>
  </section><br>
<% end %>
