<h2>Doctor Info</h2>

<h3>Name: <%= @doctor.name %></h3>
<p>Specialty: <%= @doctor.specialty %></p>
<p>Education: <%= @doctor.university %></p>
<p>Hospital: <%= @doctor.hospital.name %></p>
<p>Patients: </p>
<% @doctor.patients.each do |patient| %>
  <section id="patient<%= patient.id %>">
    <p><%= patient.name %></p>
    <p><%= button_to 'Remove patient from caseload', patient_path(patient), method: :delete, :method => :delete %></p>
  </section>
<% end %>
