<h1><%= @doctor.name %></h1>
<h3><%= @doctor.specialty %></h3>
<h3><%= @doctor.university %></h3>
<h3><%= @doctor.hospital.name %></h3>

<h2>Patients by Name:</h2>
<% @doctor.patients.each do |patient| %>
<section id="patient-<%= patient.id %>">
  <h1><%= patient.name %></h1>
  <%= link_to "Remove From Caseload", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %>
</section>
<% end %>
