<h1><%= @doctor.name %></h1>
<p>Specialty: <%= @doctor.specialty %></p>
<p>University: <%= @doctor.university %></p>
<p>Hospital: <%= @doctor.hospital.name %></p>
<h2>Patients</h2>
<% @doctor.doctor_patients.each do |doctor_patient| %>
  <section id="patient-<%= doctor_patient.patient.id %>">
    <p><%= doctor_patient.patient.name %> <%= button_to 'Remove this patient', doctor_patient_path(doctor_patient.id), method: :delete %></p>
  </section>
<% end %>
