<h2> Doctor Information</h2>

<p>Name: <%= @doctor.name %></p>
<p>Specialty: <%= @doctor.specialty %></p>
<p>University: <%= @doctor.university %></p>
<p>Practices at <%= @doctor.hospital.name %></p>


<% @doctor.patients.each do |patient| %>
  <section id="patients-<%= patient.id %>">
  <p><%= patient.name%></p>
  <%= link_to 'Remove Patient', doctor_patient_path(id: patient.id, doctor_id: @doctor.id), method: :delete %>
  </section>
<% end %>