<section id="doc">
<h1> <%= @doc.name %> </h1>
<p> <%= @doc.specialty %> </p>
<p> <%= @doc.university %> </p>
</section>

<section id="hospital">
<h3> <%= @doc.hospital.name %> </h3>
</section>

<section id="patients">
<h3> Patients: </h3>
<% @doc.patients.each do |patient| %>
<p> <%= patient.name %> </p>
<% end %>
</section>

