<h2><%= @doctor.name %></h2>

<p><%= @doctor.specialty %>
	<%= @doctor.university %></p>

<h4>Currently Employeed at: <%= @hospital.name %></h4> 

<h4> Patients </h4>
<% @doctor.patients.each do |patient| %>
	<section id='patient-<%= patient.id %>'>
		<p><%= patient.name %></p>
	</section>
<% end %>
