<h2><%= @doctor.name %></h2>
<p><%= @doctor.specialty %></p>
<p><%= @doctor.university %></p>
<p><%= @doctor.hospital.name %></p>

<p>Patients</p>
<% @doctor.patients.each do |patient| %>
  <article id="patient-<%= patient.id %>">
    <p><%= patient.name %></p>
    <p><%= link_to "Remove Patient", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %></p>
  </article>
<% end %>
