<%= @doctor.name %>
<%= @doctor.specialty %>
<%= @doctor.university %>
<%= @doctor.hospital.name %>

<% @doctor.patients.each do |patient| %>
  <%= patient.name %>
  <section id="patient-<%="#{patient.id}"%>">
    <%= link_to "Remove Patient", "/doctor_patients/#{@doctor.id}/#{patient.id}", method: :delete %>
  </section>
<% end %>
