<h1><%= @doctor.name%>'s Info page</h1>
<h2>Education: <%= @doctor.university%></h2>
<h2>Specialty: <%= @doctor.specialty%></h2>
<h2>Hospital works at: <%= @doctor.hospital.name%></h2>

<% @doctor.patients.each do |patient|%>
<h2><%= patient.name %> </h2>
<h2><%= link_to "Delete #{patient.name}","/doctors/#{@doctor.id}/patients/#{patient.id}", action: "delete" %> </h2>
<% end %>
