<h1>Doctor: <%= @doctor.name %></h1>

<p>Specialty: <%= @doctor.specialty %></p>
<p>Education: <%= @doctor.university %></p>
<p>Hospital: <%= @doctor.hospital.name %></p>


<h2>Patients: </h2>
<% @doctor.patients.each do |patient| %>
  <p><%= patient.name %></p>
<% end %>
